<%= form_with(model: term_agreement, local: true, class:'terms-form') do |form| %>
<% if term_agreement.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(term_agreement.errors.count, "error") %> prohibited this term_agreement from being saved:</h4>

    <ul>
    <% term_agreement.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <fieldset class="form-group">
    <div class="form-check">
      <%= form.label :check_one, class:'form-check-label' do %>
      <%= form.check_box :check_one, id: :check_one, disabled: true, class:'form-check-input' %>
      I have read and I agree to the Sale Terms of the AuditChain Token Sale.
      <% end %>
    </div>

    <div class="form-check">
      <%= form.label :check_two, class:'form-check-label' do %>
      <%= form.check_box :check_two, id: :check_two, disabled: true, class:'form-check-input' %>
      I understand and agree that I must use a valid ERC20 compatible wallet address.
      <% end %>
    </div>

    <div class="form-check">
      <%= form.label :check_three, class:'form-check-label' do %>
      <%= form.check_box :check_three, id: :check_three, disabled: true, class:'form-check-input' %>
      I understand and agree that I am legally 18 years of age or older.
      <% end %>
    </div>

    <div class="form-check">
      <%= form.label "Check Four", class:'form-check-label' do %>
      <%= form.check_box :check_four, id: :check_four, disabled: true, class:'form-check-input' %>
      I understand and agree that the address I use must not be an exchange address.
      <% end %>
    </div>
  </fieldset>

  <div class="form-group">
    <label>Shareholder address</label>
    <small class="form-text text-muted">Without the input of your address we won't honor the token</small>
    <%= form.text_field :shareholder_address, id: :term_agreement_shareholder_address, class:'form-control' %>
  </div>

    <%= form.submit(id:'terms-btn', class:'btn btn-primary', disabled:true, value:'Join our Sale') %>
<% end %>
